body {font-family: Verdana, sans-serif;}

p > em {font-weight: bold;}
#category {float: right; width: 200px; margin-top: 0px; background: #A5D3DE;}


/* styles for navigation */
#menu {
    background-color: #751c54; /* dark plum */
    overflow: hidden;
    width: 100%;
}
#menu ul {
    list-style:none;
    padding: 0;
    margin: 0 auto;
    width: 19.5em;
}
#menu ul li {
    font-weight: normal;
    text-transform: uppercase;
    float: left;
}
#menu ul li a {
    display: block;
    padding: .5em;
    border: 1px solid #ba89a8;
    border-radius: .5em;
    margin: .25em;
}
#menu ul a:link {
    color: #fff;
}
#menu ul a:visited {
    color: #fff;
}
#menu ul a:focus {
    color:#fc6;
    border-color: #fff;
}
#menu ul a:hover {
    color: #fc6;
    border-color: #fff;
}
#menu ul a:active {
    color:#F00;
}