<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <security-role>
        <role-name>test</role-name>
    </security-role>
    <security-role>
        <role-name>user</role-name>
    </security-role>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Sensitive</web-resource-name>
            <url-pattern>/upload.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>test</role-name>
            <role-name>user</role-name>
        </auth-constraint>
<!--
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
-->
    </security-constraint>

    <!-- Tell the server to use FORM authentication.

    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/WEB-INF/pages/Error.jsp</form-error-page>
        </form-login-config>
    </login-config>

    -->

    <!-- Tell the server to use BASIC authentication. -->
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>Intranet</realm-name>
    </login-config>

    <filter>
        <filter-name>Authenticate</filter-name>
        <filter-class>com.sparkmedia.van.advertising.action.AuthenticateFilter</filter-class>
        <init-param>
            <param-name>startTime</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>endTime</param-name>
            <param-value>10</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>Authenticate</filter-name>
        <servlet-name>FileUpload</servlet-name>
    </filter-mapping>

    <servlet>
        <servlet-name>ShowAdTypes</servlet-name>
        <servlet-class>com.sparkmedia.van.advertising.action.ShowAdSiteTypes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAdType</servlet-name>
        <servlet-class>com.sparkmedia.van.advertising.action.AddAdSiteType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUpload</servlet-name>
        <servlet-class>com.sparkmedia.van.advertising.action.FileUpload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowAdTypes</servlet-name>
        <url-pattern>/show_ad_type</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAdType</servlet-name>
        <url-pattern>/add_adtype_rec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUpload</servlet-name>
        <url-pattern>/file_upload</url-pattern>
    </servlet-mapping>
    <display-name>Sparkmedia Advertising Operating Server</display-name>
    <welcome-file-list>
        <welcome-file>upload.jsp</welcome-file>
    </welcome-file-list>
</web-app>
